<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript" src="js/mapmarker.jquery.js"></script>

--------------------------------------------------------------------



<div id="map" style="width: 550px; height: 450px; border:2px solid red;"></div>

--------------------------------------------------------------------

</head> 

<script type="text/javascript">
	
	$(document).ready(function(){
	
		//set up markers 
		var myMarkers = {"markers": [
				{"latitude": "51.5033630", "longitude":"-0.1276250", "icon": "img/house.png", "baloon_text": 'This is <strong>Hyderabad</strong>'},
				
			]
		};
		
		//set up map options
		$("#map").mapmarker({
			zoom	: 5,
			center	: 'Hyderabad',
			markers	: myMarkers
		});

	});
</script>

