@charset "utf-8";
/* CSS Document */

body{ font-family:Arial, Helvetica, sans-serif; font-size:13px;}
*{ margin: 0 auto;}
.top_bg{ width:100%; height:90px; float:left; background-image:url(../images/top_bg.jpg)}
.topbg_inner{ width:1000px; height:auto;}
.topbg_inner_left{ width:273px; height:88px; float:left; background-image:url(../images/salestrackingbg.png); margin:1px 0 0 0}
.topbg_inner_left_top{ width:215px; height:auto; float: left; color:#F00; font-size:15px; font-weight:bold; margin:15px 0 6px 0; text-align:center;}
.topbg_inner_left_bottom{width:215px; height:auto; float: left; color:#008abb; text-align:center}
.topbg_inner_right{ width:326px; height:36px; float: right; background-image:url(../images/phonenumbg.png)}
.topbg_inner_right_left{ width:28px; height:auto; float:left; margin:3px 0 0 67px;}
.topbg_inner_right_right{ width:200px; height:auto; float:left; color:#fff; font-weight:bold; font-size:22px; margin:3px 0 0 10px;}
.wrapper{ width:1000px; height:auto;}
.logopart{ width:1000px; height:auto; float:left; margin-bottom:15px;}
.logopart_left{ width:225px; height:auto; float:left;}
.logopart_right{ width:669px; height:auto; float:right; margin-top:40px;}
.logopart_right ul{ list-style-type:none; padding:0; margin:0}
.logopart_right ul li{ float:left; margin-left:20px; color:#008abb; font-size:15px;}
.contentpart{width:1000px; height:auto; float:left; box-shadow:1px 1px 6px #000; border-radius:10px; padding:10px 0 15px 0}

.content_left{ width:230px; height:auto; float: left; border:1px solid #d8e7f1; padding-bottom:35px; background-color:#f2f8fe; margin-left:10px;}
.content_left_headding{ width:226px; height:46px; float:left; background-image:url(../images/headdingbg.jpg)}
.content_left_text{ width:170px; height:auto; float:left; color:#008abb; font-size:16px; font-weight:bold; margin-left:25px; margin-top:10px;}
.smallheadding_conleft{ width:220px; height:auto; float:left; padding:5px 0 5px 5px; font-weight:bold; color:#008abb}

.smallheadding_conleft_inner{ width:206px; height:auto; float:left;  color:#008abb; padding:5px 0 8px 15px; border-bottom:1px solid #ddeaf2;}
.smallheadding_conleft_inner_left{ width:6px; height:auto; float:left;  color:#008abb; margin-left:5px; margin-top:4px;}
.smallheadding_conleft_inner_right{ width:185px; height:auto; float:left;  color:#008abb; margin-left:5px;}
.content_right{ width:720px; height:auto; float:left; margin-left:24px;}
.banner_part_left{ width:423px; height:auto; float:left;}
.banner_part_right{ width:277px; height:auto; float:right;}




.main_div{ width:720px; height:auto; float:left; border:1px solid #a7a6a6; border-radius: 15px 15px 15px 15px; background-color:#fff; margin-top:20px;}
.main_div_top{ width:720px; height:auto; float:left; background-color:#ebe7e7; padding:5px 0 5px 0; border-radius: 15px 15px 0px 0px;}
.main_div_top_left{width:110px; height:auto; float:left; margin:0 0 0 55px;}
.main_div_top_right{width:510px; height:auto; float:left; margin: 35px 0 0 15px; color:#0281ae; font-size:24px; font-weight:bold;}
.main_top_deviderline{ width:720px; height:1px; float:left; background-color:#c0bebe; margin:2px 0 0 0}
.main_div_middle{ width:720px; height:auto; float:left; padding:10px 0 10px 0 }
.main_div_middle_textfields{ width:357px; height:auto;}
.main_div_middle_textfields_main{ width:357px; height:auto; float:left; font-size:18px; font-weight:bold; margin:12px 0 12px 0}
.main_div_middle_textfields_main_left{ width:44px; height:auto; float:left;}
.main_div_middle_textfields_main_right{ width:310px; height:auto; float:left;}
.main_div_bottom{ width:720px; height:60px; float:left; background-color:#ebe7e7; padding:5px 0 5px 0; border-radius: 0px 0px 15px 15px; margin-top:2px;}
.fotter{ width:100%; height:auto; float:left; background-color:#609cd1; margin-top:25px; border-top:15px solid #3e6a91;}
.fotter_inner{ width:1000px; height:auto; margin:0 auto; padding:15px 0 15px 0; color:#fff; text-align:center; font-weight:bold;}
.main_div_middle_form_textfields{ width:680px; height:auto;}
.main_div_middle_form_textfields_main{width:680px;}
.main_div_middle_form_textfields_main_left{ width:330px; height:auto; float:left;margin:2px 0;}
.main_div_middle_form_textfields_main_right{ width:331px; height:auto; float:right;margin:2px 0;border-left:1px dotted #008abb;}
.main_div_middle_form_textfields_main_label{float:left;width:120px;padding-left:10px; line-height: 25px; color:#008abb;font-weight: bold;font-size: 14px;}
.main_div_middle_form_textfields_main_field{float:right;text-align:right;width:200px;}
.main_div_middle_form_textfields_main_submit{text-align: center;}

.appointmentform{ width:670px; height:auto; float:left}
.appointmentform_left{ width:320px; height:auto; float:left;  margin:8px 0 8px 0}
.appointmentform_left1{ width:320px; height:auto; float:left;}
.appointmentform_left_left{ width:155px; height:auto; float:left; color:#008abb; text-align:right; font-size:14px; font-weight:bold;}
.appointmentform_left_right{ width:150px; height:auto; float:left; color:#008abb; margin-left:10px;}
.appointmentform_right{ width:320px; height:auto; float:right;}

.userappointments{ width:720px; height:auto; float:left; background-color:#008abb; padding:6px 0 5px 0; margin:2px 0 2px 0; color:#fff; font-weight:bold;}
.userappointments_line{ width:720px; height:1px; float:left; background-color:#999}
.userappointments_inner{ width:720px; height:auto; float:left; padding:5px 0 5px 0; background-color:#e6e6e6; margin:2px 0 2px 0; font-size:22px; font-weight:bold; color:#555555; font-family:Georgia, "Times New Roman", Times, serif}
.userbusinessname{ width:200px; height:auto; float:left; margin-left: 10px}
.user_appointmentplace{ width:140px; height:auto; float:left; margin-left:10px; }
.user_appointmenttime{ width:150px; height:auto; float:left; margin-left:10px;}
.user_appointmentcomments{ width:150px; height:auto; float:left; margin-left:10px;}
.user_appointmentfixedby{ width:100px; height:auto; float:left; margin-left:10px;}
.user_appointmentalert{ width:60px; height:auto; float:left; margin-left:10px;}
.userappointments_inner1{ width:720px; height:auto; float:left; padding:8px 0 8px 0; background-color:#e6e6e6; margin:2px 0 2px 0; font-size:12px; color:#555555}

.load_appointments{ width:650px; height:auto; float:left;}


.load_appointments_headding{ width:600px; height:auto; float:left; color:#555555; font-weight:bold; font-size:18px; border-bottom:1px solid #999; padding:5px 0 5px 0; background-color:#e6e6e6;}
.load_appointments_inner{ width:600px; height:auto; float:left; cursor:pointer; padding:5px 0 5px 0; margin:5px 0 5px 0; border-bottom:1px dotted #555555; font-size:14px;}
.load_appointments_inner101{ width:520px; height:auto; float:left; cursor:pointer;  margin-left:10px; }
.load_appointments_inner122{ width:40px; height:auto; float:right; margin-top:20px;}
.load_appointments_inner:hover{ border-bottom:2px dotted #ff6600}
.load_appointments_innername{ width:520px; height:auto; float:left; font-weight: bold;}
.load_appointments_innerplece{width:520px; height:auto; float:left; padding:5px 0 5px 0}
.load_appointments_innertime{ width:520px; height:auto; float:left; padding:5px 0 5px 0}
.load_appointments_innername_left{ width:230px; height:auto; float:left; text-align:right; padding-bottom:8px; color:#306088;}
.load_appointments_innername_right{ width:250px; height:auto; float:left; margin-left:10px; font-size:13px; font-weight:normal;}


.white_content {		

	position: fixed;
		top: 26%;
			left: 50%; margin-left:-250px;
			width: 40%;
			height: auto;
			padding: 16px;
			border: 5px solid #008abb;
			background-color:#fff;
				z-index: 99999;
				box-shadow: 0px 0px 20px #008abb;
				-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
			    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
				border-radius:20px 20px 20px 20px ;
				-moz-border-radius:20px 20px 20px 20px ;
			  -webkit-border-radius:20px 20px 20px 20px ;
			   
			overflow: auto;
		}
		
		
 .black_overlay{
			display: none;
			position:fixed;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color:black;
			-moz-opacity: 0.8;
			opacity:.70;
			filter: alpha(opacity=30);
		}
		
		
		
		.callstatus_headding{ width:696px; height:auto; float:left; color:#F00; font-size:14px; font-weight:bold; margin-top:15px; text-align:center}
		.callstatus{ width:696px; height:auto; float:left; border:1px solid #d4d2d2; margin: 20px 0 50px 12px;}
		.callstatusInner{ width:690px; height:auto; float:left; margin:3px; background-color:#f8f7f7;}
		.callstatusInner_left{ width:140px; height:auto; float:left;}
		.callstatusInner_right{ width:520px; height:auto; float:left; margin-left:10px;}
		
		.callstatusInner_right_main{ width:130px; height:auto; float:left; margin-top:14px;}
		.callstatusInner_right_main_left{ width:15px; height:auto; float:left;}
		.callstatusInner_right_main_right{ width:100px; height:auto; float:left; margin-left:5px; font-weight:bold}